<div
  style="
    height: 80px;
    background-image: url('../../../assets/b2.jpg');
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -22px;
  "
>
  <h1 style="text-align: center"><b>Hotel LPG</b></h1>
</div>
<div style="padding: 32px">
  <h4>
    17Kg and 21Kg LPG Cylinders for commercial connection (Hotels & Restaurants)
  </h4>
  <p>
    Aqsa enterprises offers an efficient and cost effective clean fuel of LPG in
    17Kg and 21Kg cylinders to meet business needs of Hotels and Restaurants
    with flexibility and reliability.
  </p>
  <div style="display: flex">
    <h4 class="ddd">Instant Connection</h4>
    <h4 class="ddd">100% Refundable Deposit</h4>
    <h4 class="ddd">Adaptors with added safety features</h4>
  </div>
  <div style="display: flex">
    <h4 class="ddd">Transferrable across Tamilnadu</h4>
    <h4 class="ddd">Correct quantity of LPG</h4>
    <h4 class="ddd">Best LPG quality for better flame</h4>
  </div>
</div>
