<div
  style="
    height: 80px;
    background-image: url('../../../assets/b3.jpg');
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -22px;
  "
>
  <h1 style="text-align: center"><b>Industrial LPG</b></h1>
</div>
<div style="display: flex">
  <div>
    <div style="padding: 32px">
      <h4><b>33Kg LPG Cylinders for Industries</b></h4>
      <p>
        Aqsa enterprises provides 33Kg LPG cylinders both in VOT and LOT to meet
        the requirements of any industry. Meena Gas also offers bulk
        installation and supply of LPG from Indian Oil Petronas Private Ltd
        (IPPL) through its sister concern Safe Tech Industries (STI) as STI is
        one of the marketing associates of IPPL.
      </p>
      <div style="display: flex">
        <h4 class="ddd">Instant Connection</h4>
        <h4 class="ddd">100% Refundable Deposit</h4>
        <h4 class="ddd">Adaptors with added safety features</h4>
      </div>
      <div style="display: flex">
        <h4 class="ddd">Correct quantity of LPG</h4>
        <h4 class="ddd">Best LPG quality for better flame</h4>
      </div>
    </div>
    <div style="display: flex">
      <img src="../../../assets/1.jpg" class="chm" />
      <img src="../../../assets/2.jpg" class="chm" />
      <img src="../../../assets/3.jpg" class="chm" />
    </div>
  </div>
  <div style="width: 400px">
    <img src="../../../assets/1211.png" style="width: 400px; height: 400px" />
    <img src="../../../assets/1311.png" style="width: 400px; height: 400px" />
    <img src="../../../assets/1411.png" style="width: 400px; height: 400px" />
  </div>
</div>
