<h1 style="text-align: center">Aqsa Services</h1>
<div
  style="
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
  "
>
  <mat-card style="margin: 32px">
    <mat-card-content style="text-align: center">
      <img
        src="../../../assets/kitchen1.png"
        style="width: 200px; height: 140px"
      />
      <h4>LPG for Home</h4>
      <button
        mat-raised-button
        color="primary"
        style="border-radius: 20px"
        routerLink="/homedomestic"
      >
        View more
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin: 32px">
    <mat-card-content style="text-align: center">
      <img
        src="../../../assets/hotel1.jpg"
        style="width: 200px; height: 140px"
      />
      <h4>LPG for Hotel</h4>
      <button
        mat-raised-button
        color="primary"
        style="border-radius: 20px"
        routerLink="/hotel"
      >
        View more
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin: 32px">
    <mat-card-content style="text-align: center">
      <img
        src="../../../assets/industry1.png"
        style="width: 200px; height: 140px"
      />
      <h4>LPG for Industry</h4>
      <button
        mat-raised-button
        color="primary"
        style="border-radius: 20px"
        routerLink="/industry"
      >
        View more
      </button>
    </mat-card-content>
  </mat-card>
</div>
<div
  style="
    text-align: center;
    background-color: red;
    border-radius: 30px;
    color: white;
    padding: 30px;
  "
>
  <h1>Our Salient features</h1>
  <div style="display: flex">
    <ul style="text-align: left">
      <li>
        Supply of Aqsa enterprises with the volume of 12Kg, 17Kg & 33Kg
        Cylinders at shortest time duration.
      </li>
      <li>
        High Quality imported LPG mixture suitable to different types of
        applications.
      </li>
      <li>
        Aqsa enterprises can be consumed for vast applications amongst
        Industrial sector and for Domestic and Commercial applications.
      </li>
      <li>Uninterrupted supply of LPG with efficient logistics.</li>
    </ul>
    <ul style="text-align: left">
      <li>
        Bulk storage facilities Installation based on customer requirements.
      </li>
      <li>
        Providing assistance in conversion from conventional fuels to LPG.
      </li>
      <li>
        Pollution free and safe environment by the preventive maintenance of LPG
        storage facilities at customer premises.
      </li>
    </ul>
  </div>
</div>
<div style="display: flex; padding: 32px">
  <div>
    <h1>Our Energy Solutions</h1>
    <p>
      Aqsa enterprises is available in various convenient distribution systems
      which suit the user’s requirement more economically.
    </p>

    <p>
      To fit any appliances Aqsa enterprises is available in various ranges with
      the volume of 12kg, 17kg and 33kg cylinders. Imported LPG is supplied
      after packing in shortest time duration.
    </p>

    <p>
      Consistent service of this sulphur free gas suits house-hold, commercial
      and industrial applications.
    </p>
    <h1>About Principal Supplier</h1>
    <p>
      Aqsa enterprises has entered into a long term supply agreement with
      IndianOil Petronas Pvt Ltd who is the largest importer of LPG in India
      having huge import/export terminals at Haldia and Ennore, near Chennai. In
      Ennore terminal, they have the storage capacity of two 16,500 MT
      refrigerated storage tanks and other mounded bullets which ensure
      uninterrupted supply to our customers.
    </p>
  </div>
  <img src="../../../assets/delete/about-us.jpg" />
</div>
<div style="display: flex; padding: 32px">
  <img src="../../../assets/delete/about-us.jpg" style="margin-right: 32px" />
  <div>
    <h1>Logistics</h1>
    <p>
      LPG bulk and packed transport is carried out by our group company
      Thenpandiyan Transport which provides uninterrupted supply to the
      customers always.
    </p>
    <h1>Bulk Installation</h1>
    <p>
      It is widely used in India for diverse Industrial applications like
      Agriculture,Crop drying, Distilling, Flame weeding, Green houses,
      Commercial & Residential like Air-conditioning, Cooking, Hot water,
      Radiant heating, Refrigeration, Space heating, Industries like Ceramic &
      Glass Manufacturing, Chemical Feedstock, Drying, Laundry, Metal
      processing, Thawing, Leisure, Boats, Camping, Barbecue, Swimming Pools,
      Terrace heaters, Non fuel uses, Aerosols, Transportations like Buses,
      Cars, Fork-lifts, Heavy duty trucks and Motor bikes.
    </p>
    <p>
      “Providing complete solution for installation of Bulk Storage facilities
      based on Customer’s requirements.
    </p>
  </div>
</div>
