<div
  style="
    height: 80px;
    background-image: url('../../../assets/b1.jpg');
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -22px;
  "
>
  <h1 class="w3-animate-top w3-animate-opacity" style="text-align: center">
    <b>Home LPG</b>
  </h1>
</div>
<div style="padding: 32px">
  <h4>12Kg LPG Cylinder for Domestic Connection</h4>
  <p>
    Aqsa enterprises provides immediate, hassle free domestic LPG connection,
    delivers quick refill and timely service.
  </p>
  <div style="display: flex">
    <h4 class="ddd">Instant Connection</h4>
    <h4 class="ddd">100% Refundable Deposit</h4>
    <h4 class="ddd">Adaptors with added safety features</h4>
  </div>
  <div style="display: flex">
    <h4 class="ddd">Transferrable across Tamilnadu</h4>
    <h4 class="ddd">Correct quantity of LPG</h4>
    <h4 class="ddd">Best LPG quality for better flame</h4>
  </div>
  <table style="width: 60%; border-collapse: collapse">
    <th colspan="2" style="background-color: red; padding: 12px; color: white">
      <tr>
        <td colspan="2">New Connection Charges</td>
      </tr>
    </th>
    <tr>
      <td style="border: 1px solid #adadad; padding: 12px">
        100% Refundable Deposit
      </td>
      <td style="border: 1px solid #adadad; padding: 12px">₹ 1,400</td>
    </tr>
    <tr>
      <td style="border: 1px solid #adadad; padding: 12px">Regulator</td>
      <td style="border: 1px solid #adadad; padding: 12px">₹ 200</td>
    </tr>
    <tr>
      <td style="border: 1px solid #adadad; padding: 12px">Gas Price</td>
      <td style="border: 1px solid #adadad; padding: 12px">
        As per market price
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #adadad; padding: 12px">Service Charges</td>
      <td style="border: 1px solid #adadad; padding: 12px">₹ 100</td>
    </tr>
  </table>
</div>
