<div class="container">
  <carousel [slides]="slides"></carousel>
</div>
<div style="display: flex">
  <div class="ban">
    <h1 style="margin-left: 100px">WELCOME TO AQSA GAS</h1>
    <p style="margin-left: 100px">
      Aqsa Gas is one of the group concerns of Thenpandiyan Transport, Namakkal
      and a leading parallel marketer of LPG in Tamilnadu. The promoters of the
      company are renowned Bulk LPG Fleet operators for PSU Oil companies since
      1985 and one of the largest bulk LPG transporters in South India.
    </p>
  </div>
  <div
    style="
      background-color: #f00808;
      width: 50%;
      color: white;
      border-bottom-left-radius: 50px;
    "
  >
    <h1 style="margin-left: 100px">OUR FEATURES</h1>
    <ul style="list-style-type: disc; margin-left: 100px">
      <li>High Quality Imported LPG mixers</li>
      <li>Available in 4Kg, 6Kg, 12kg, 17kg, 21Kg and 33kg cylinders</li>
      <li>Consumed by Industrial, Domestic and Commercial</li>
      <li>pollution Free and Safe Environment</li>
      <li>Uninterrupted supply of LPG</li>
      <li>Conversion from conventional fuels to LPG</li>
      <li>Bulk Storage facilities Installation</li>
    </ul>
  </div>
</div>
