<div class="container">
  <carousel [slides]="slides"></carousel>
</div>
<div style="display: flex; background-color: #fdf1f1">
  <div class="ban">
    <h1 style="margin-left: 100px">WELCOME TO AQSA GAS</h1>
    <p style="margin-left: 100px">
      Aqsa Gas is one of the group concerns of Thenpandiyan Transport, Namakkal
      and a leading parallel marketer of LPG in Tamilnadu. The promoters of the
      company are renowned Bulk LPG Fleet operators for PSU Oil companies since
      1985 and one of the largest bulk LPG transporters in South India.
    </p>
  </div>
  <div
    style="
      background-color: #f00808;
      width: 50%;
      color: white;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
    "
  >
    <h1 style="margin-left: 100px">OUR FEATURES</h1>
    <ul style="list-style-type: disc; margin-left: 100px">
      <li>High Quality Imported LPG mixers</li>
      <li>Available in 4Kg, 6Kg, 12kg, 17kg, 21Kg and 33kg cylinders</li>
      <li>Consumed by Industrial, Domestic and Commercial</li>
      <li>pollution Free and Safe Environment</li>
      <li>Uninterrupted supply of LPG</li>
      <li>Conversion from conventional fuels to LPG</li>
      <li>Bulk Storage facilities Installation</li>
    </ul>
  </div>
</div>
<div
  style="
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
  "
>
  <mat-card style="margin: 32px">
    <mat-card-content style="text-align: center">
      <img
        src="../../../assets/kitchen1.png"
        style="width: 200px; height: 140px"
      />
      <h4>LPG for Home</h4>
      <button
        mat-raised-button
        color="primary"
        style="border-radius: 20px"
        routerLink="/homedomestic"
      >
        View more
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin: 32px">
    <mat-card-content style="text-align: center">
      <img
        src="../../../assets/hotel1.jpg"
        style="width: 200px; height: 140px"
      />
      <h4>LPG for Hotel</h4>
      <button
        mat-raised-button
        color="primary"
        style="border-radius: 20px"
        routerLink="/hotel"
      >
        View more
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin: 32px">
    <mat-card-content style="text-align: center">
      <img
        src="../../../assets/industry1.png"
        style="width: 200px; height: 140px"
      />
      <h4>LPG for Industry</h4>
      <button
        mat-raised-button
        color="primary"
        style="border-radius: 20px"
        routerLink="/industry"
      >
        View more
      </button>
    </mat-card-content>
  </mat-card>
</div>
<div
  style="
    background-image: url('../../../assets/bbanner.jpg');
    background-size: cover;
    height: 600px;
  "
></div>
<div
  style="
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
  "
>
  <mat-card style="margin: 32px">
    <mat-card-content>
      <mat-icon class="mt">description</mat-icon>
      <h4>OUR OBJECTIVE</h4>
      <p>
        To provide the best LPG supply solutions in the most cost effective
        manner with limited time consumption and always equip ourselves to
        fulfil customers’ demand.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin: 32px">
    <mat-card-content>
      <mat-icon class="mt">visibility</mat-icon>
      <h4>OUR VISION</h4>
      <p>
        To be a Credible Leader in the Business of LPG Supply and Brand Our name
        – “Meena Gas” Synonyms to LPG.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card style="margin: 32px">
    <mat-card-content>
      <mat-icon class="mt">ads_click</mat-icon>
      <h4>OUR MISSION</h4>
      <p>
        By the year 2025 to build a competitive Brand and become a formidable
        player among the top notch competitors
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div style="display: flex; height: 390px">
  <div style="width: 30%">
    <div class="ct">
      <mat-card class="gt card">
        <mat-card-content style="text-align: center">
          <h1>10</h1>
          <h4>REGION</h4>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ct">
      <mat-card class="gt card">
        <mat-card-content style="text-align: center">
          <h1>23</h1>
          <h4>DISTRIBUTORS</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="width: 30%">
    <div class="ct">
      <mat-card class="gt card">
        <mat-card-content style="text-align: center">
          <h1>72</h1>
          <h4>EMPLOYEES</h4>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ct">
      <mat-card class="gt card">
        <mat-card-content style="text-align: center">
          <h1>64</h1>
          <h4>YEARS</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div
    style="width: 40%; margin-right: 20px; margin-top: 30px; margin-left: 30px"
  >
    <mat-card
      style="
        width: 100%;
        height: 90%;
        border-radius: 40px;
        box-shadow: 6px 6px 12px #898989;
      "
    >
      <mat-card-content style="text-align: center">
        <h1>Get in touch</h1>
        <p>
          AQSA Enterprises, Ahimshapuram 6th street, New Extension, Sellur,
          Madurai, Tamil nadu – 625 002.
        </p>
        <p>+91 95248 86799 / +91 70434 59946</p>
        <p>aqsa.enterprises&#64;gmail.com</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
