.container {
  display: block;
  height: 500px;
  width: 100%;
}
.ban {
  width: 60%;
  height: 400px;
  background-image: url("../../../assets/gascyl.png");
  background-size: cover;
}
.gt {
  // width: 200px;
}
.ct {
  margin: 6px;
  width: 100%;
}
.card {
  background-color: #f00808;
  color: white;
}
