<!-- Toolbar -->
<mat-toolbar color="primary">
  <img src="../assets/logo.png" class="logo" />
  <span>AQSA</span>
  <span class="spacer"></span>
  <button mat-button routerLink="./home"><mat-icon>home</mat-icon>Home</button>
  <button mat-button routerLink="./about">
    <mat-icon>info</mat-icon>About us
  </button>
  <button mat-button routerLink="./services">
    <mat-icon>manage_accounts</mat-icon>Services
  </button>
  <button mat-button routerLink="./distributors">
    <mat-icon>lan</mat-icon>Distributors
  </button>
  <button mat-button routerLink="./clients">
    <mat-icon>diversity_3</mat-icon>Clients
  </button>
  <button mat-button routerLink="./careers">
    <mat-icon>work</mat-icon>Career
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
