<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <div class="cont">
      <img [src]="slide.src" class="slide" *ngIf="i === currentSlide" @carouselAnimation/>
      <h1 class="head" *ngIf="i === currentSlide">{{slide.text}}</h1>
    </div>
  </ng-container>

  <!-- controls -->
  <button mat-icon-button class="control prev" style="color: white;"  (click)="onPreviousClick()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button mat-icon-button class="control next" (click)="onNextClick()"  style="color: white;">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
